.product-list-container {
  padding: 20px 0;
}

.product-col {
  margin-bottom: 16px;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  height: 400px;
}

@media (max-width: 575px) {
  .product-col {
    margin-bottom: 12px;
  }
}
